<header class="mb-8">
  <nav>
    <div class="inline-flex gap-2 text-lg underline visited:text-violet-950">
      <a href="">home</a>
      <a href="">articles</a>
      <a href="/contact">contact</a>
    </div>
  </nav>
  <h1 class="text-2xl font-semibold">BAROSHILABS</h1>
  <img
    src="/pictures/fredy-jacob-t0SlmanfFcg-unsplash.webp"
    alt="old memory"
    srcset=""
  />
  <span class="text-sm">by TheFat&Furious</span>
</header>
