<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body class="p-4 bg-slate-100 font-serif max-w-3xl mx-auto">
    <header><%- include('../partials/header.ejs'); %></header>
    <main>
      <div class="flex">
        <h1>WHAT UP BOSS</h1>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
