<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body
    class="p-4 bg-slate-100 font-serif max-w-3xl mx-auto min-h-screen flex flex-col"
  >
    <header><%- include('../partials/header.ejs'); %></header>
    <main class="flex grow">
      <div class="flex">
        <p class="text-blue-300">Welcome to my homepage</p>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
